<% set_meta_tags noindex: true %>
<script>
  $(function() {
    $("html").addClass("admin-wrap");
    $("body").addClass("admin-wrap");
    $(".wrap").addClass("admin-wrap");
  })
</script>
<div class="admin">
  <%= render 'shared/admin_side' %>
  <div class="admin-main">
    <div class="admin-main--header">
      <h2>連載シリーズ</h2>
      <table class="table">
        <thead>
          <tr>
            <th class="post-head col-md-4">シリーズ名</th>
            <th class="post-head col-md-6">シリーズ概要</th>
            <th class="post-head col-md-1">編集</th>
            <th class="post-head col-md-1">削除</th>
          </tr>
        </thead>
        <tbody>
          <% if @series.any? %>
            <% @series.each do |series| %>
            <tr class="post-item">
              <td><%= link_to "#{series.name}", admin_series_path(series), method: :get %></td>
              <td><%= series.description%></td>
              <td><%= link_to edit_admin_series_path(series) do %><%= icon('fas','edit')  %><% end %></td>
              <td><%= link_to admin_series_path(series), method: :delete, data: {confirm: "削除されたシリーズは復元できません．削除しますか？"} do %><%= icon('fas','times')  %><% end %></td>
            </tr>
            <% end %>
          <% else %>
          <tr data-href="#" class="post-item">
            <td class="post-data"></td>
            <td class="post-data"></td>
            <td class="post-data">シリーズはまだありません。</td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="row categories">
        <div class="col-md-10 category-new">
          <div class="form-group">
            <%= form_tag(admin_series_index_path, method: :post) %>
              <div class="col-sm-5 category-new--form">
                <p>シリーズ名</p>
                  <textarea name="name"></textarea>
              </div>
              <div class="col-sm-5 category-new--form">
                <p>詳細説明</p>
                  <textarea name="description"></textarea>
              </div>
              <%= button_tag type: 'submit', class:"btn btn-primary col-sm-2" do %>
                <%= icon("far", "plus-square") %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
